@model WebApplication3.ProductoDetalles

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductoDetalles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_provedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_provedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_aspectos_tecnicos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_aspectos_tecnicos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_contraindicaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_contraindicaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_utilidades)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_utilidades)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_cuidados)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_cuidados)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_producto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
