@model WebApplication3.Estante

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Estante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pasillo_x_Departamento.id_pasillo_x_departamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pasillo_x_Departamento.id_pasillo_x_departamento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_estante }) |
    @Html.ActionLink("Back to List", "Index")
</p>
