@model WebApplication3.Vacaciones_disfrutadas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vacaciones_disfrutadas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_empleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_empleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_final)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_final)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_vacaciones_disfrutadas }) |
    @Html.ActionLink("Back to List", "Index")
</p>
