@model IEnumerable<WebApplication3.Vacaciones_disfrutadas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_inicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_final)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_empleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_inicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_final)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_vacaciones_disfrutadas }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_vacaciones_disfrutadas }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_vacaciones_disfrutadas })
        </td>
    </tr>
}

</table>
