@model List <WebApplication3.Models.Cliente>


<h2>Clientes</h2>


<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>nombre </th>
            <th>correo </th>
            <th>metodo de pago </th>
            <th>puntuacion </th>
            <th>activos</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model)
        {
        <tr>
            <td>@cliente.id_cliente</td>
            <td>@cliente.nombre </td>
            <td>@cliente.correo </td>
            <td>@cliente.metodo_pago </td>
            <td>@cliente.puntuacion </td>
            <td>@cliente.activo </td>

        </tr>
        }
    </tbody>
</table>


