@model WebApplication3.Venta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Venta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleado.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ferreteria.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ferreteria.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_venta.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_venta.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_venta }) |
    @Html.ActionLink("Back to List", "Index")
</p>
