@model WebApplication3.Ferreteria

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ferreteria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ubicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ubicacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_ferreteria }) |
    @Html.ActionLink("Back to List", "Index")
</p>
