<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(" ", "Index", "Home", new { area = "1" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Bodega", "Index", "Bodegas")</li>
                    <li>@Html.ActionLink("Ferreteria", "Index", "Ferreterias")</li>
                    <li>@Html.ActionLink("Producto", "Index", "Productoes")</li>
                    <li>@Html.ActionLink("ProductoDetalle", "Index", "ProductoDetalles")</li>
                    <li>@Html.ActionLink("ProductoEstante", "Index", "Producto_x_Estante")</li>
                    <li>@Html.ActionLink("AspectoTec", "Index", "Aspecto_Tecnico")</li>
                    <li>@Html.ActionLink("ContraInd", "Index", "Contraindicacions")</li>
                    <li>@Html.ActionLink("Cuidados", "Index", "Cuidadoes")</li>
                    <li>@Html.ActionLink("Garantia", "Index", "Garantias")</li>
                    <li>@Html.ActionLink("Empleados", "Index", "Empleadoes")</li>
                    <li>@Html.ActionLink("EmpleadosFer", "Index", "Empleado_x_Ferreteria")</li>
                    <li>@Html.ActionLink("Proveedor", "Index", "Proveedors")</li>
                    <li>@Html.ActionLink("InvBodega", "Index", "Inventario_Bodega")</li>
                    <li>@Html.ActionLink("InvFerreteria", "Index", "Inventario_Ferreteria")</li>
                    <li>@Html.ActionLink("Departamento", "Index", "Departamentoes")</li>
                    <li>@Html.ActionLink("DepaFerreteria", "Index", "Departamento_x_Ferreteria")</li>
                    <li>@Html.ActionLink("Marcas", "Index", "Marcas")</li>
                    <li>@Html.ActionLink("Amonestacion", "Index", "Amonestacions")</li>
                    <li>@Html.ActionLink("TipoEmpleado", "Index", "Tipo_Empleado")</li>
                    <li>@Html.ActionLink("Estantes", "Index", "Estantes")</li>
                    <li>@Html.ActionLink("PasilloDep", "Index", "Pasillo_x_Departamento")</li>
                    <li>@Html.ActionLink("Pasillo", "Index", "Pasilloes")</li>
                    <li>@Html.ActionLink("Vacaciones", "Index", "Vacaciones_disfrutadas")</li>
                    <li>@Html.ActionLink("Backorder", "Index", "Lista_Deseos")</li>
                    <li>@Html.ActionLink("Venta", "Index", "Ventas")</li>
                    <li>@Html.ActionLink("Clientes", "Index", "Cliente")</li>
                    <li>@Html.ActionLink("Direccion", "Index", "Direccion")</li>
                    <li>@Html.ActionLink("Entregas", "Index", "Entrega")</li>
                    <li>@Html.ActionLink("DetalleEntregas", "Index", "DetalleEntrega")</li>
                    <li>@Html.ActionLink("Vehiculo", "Index", "Vehiculo")</li>
                    <li>@Html.ActionLink("Rutas", "Index", "Ruta")</li>
                    <li>@Html.ActionLink("Multa", "Index", "Multa")</li>
                    <li>@Html.ActionLink("Mejor Empleado", "Index", "MejorEmpleado")</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
