@model List<WebApplication3.Models.Vehiculo>


<h2>Vehiculo</h2>


<table class="table">
    <thead>
        <tr>
            <th>id_vehiculo</th>
            <th>id_chofer </th>
            <th>id_flotilla </th>
            <th>placa </th>
            <th>descripcion </th>
            <th>km_l</th>
            <th>activo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vehiculo in Model)
        {
        <tr>
            <td>@vehiculo.id_vehiculo</td>
            <td>@vehiculo.id_chofer </td>
            <td>@vehiculo.id_flotilla </td>
            <td>@vehiculo.placa </td>
            <td>@vehiculo.descripcion </td>
            <td>@vehiculo.km_l </td>
            <td>@vehiculo.activo </td>
        </tr>
        }
    </tbody>
</table>


