@model WebApplication3.Empleado_x_Ferreteria

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Empleado_x_Ferreteria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleado.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ferreteria.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ferreteria.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_empleado_x_ferreteria }) |
    @Html.ActionLink("Back to List", "Index")
</p>
